body {
    background-color: #d0d0d0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Georgia, serif;
    font-size: 0.7rem;
    line-height: 1.7rem;
}

.center {
    text-align: center;
}

p {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.footer > h2 {
    margin-top: 0;
}

.gray-bg {
    background-color: #1c1c1c;
    padding: 2rem;
    color: white;
    border-radius: 13px;
}

.cyan-fg {
    color: #32c18b !important;
}

.white-fg {
    color: white;
}

.medium-size {
    font-size: 2rem;
    line-height: :rem;
}

.large-size {
    font-size: 2.3rem;
    line-height: 2.3rem;
}

#title {
    font-family: Monoton, sans-serif;
    margin-top: 0;
    margin-bottom: 2.5rem;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gallery > a {
    margin: 0.3rem;
    width: 320px;
    height: 240px;
    overflow: hidden;
}

@media only screen and (min-width: 601px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 1rem;
    }
    .gallery {
        margin-left: -100px;
        margin-right: -100px;
    }
    .large-size {
        font-size: 4rem;
        line-height: 4rem;
    }
    .medium-size {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}
