<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="online portfolio of Kayla Latimer">
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Monoton&family=Syncopate">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
</head>

<body>
  <section class="section">
    <div class="container">
            {% block header %}
            <h1>{{ config.title }}</h1>
            {% endblock %}
	</div>
        {% block content %}
        {% endblock %}
	{% block footer %}
	{% endblock %}
    </div>
  </section>
</body>
</html>
